[2015-04-09 13:35] miyconst opened #1 "Move default user admin from UserAdminApp to SignIn app"
Each app should be able to work standalone.
SignIn app requires a user to work.

[2015-04-10 16:13] miyconst opened #2 "Sign in form appears on other pages after sign in from the popup form"
![sign-in-error](https://cloud.githubusercontent.com/assets/6435556/7091833/a9fd028a-dfb5-11e4-891c-6fb8b98ce31f.PNG)

[2015-04-10 18:42] miyconst opened #3 "Make Enter work in login form"

[2015-04-11 19:57] #3 closed

[2015-04-11 19:57] miyconst commented on #3
Now enter works in both popup and normal login forms.

[2015-05-13 15:15] #2 closed

[2015-05-20 11:47] warpech opened #4 "Warning in msbuild"
When building SignIn app in msbuild (I think it also happens in VS), I get the following warning:

 (7:2) ->
(ResolveAssemblyReferences target) ->
  C:\Windows\Microsoft.NET\Framework\v4.0.30319\Microsoft.Common.targets(1605,5):
 warning MSB3245: Could not resolve this reference. Could not locate the assembly
 "Newtonsoft.Json". Check to make sure the assembly exists on disk. If this refer
ence is

[2015-05-20 13:45] alemoi commented on #4
As I understand @chrhol completely replaced it with `DynamicJson`. But we should ask Christian if he confirms this.

[2015-05-20 13:56] warpech commented on #4
I don't think this is related to Starcounter's `DynamicJson` but rather to @miyconst work on Json Web Token.

Reference to Newtonsoft.Json was added in commit https://github.com/Polyjuice/SignIn/commit/654bf82a1422c803139bdf9e7da709a72dc6f00e

The Json Web Token code was since that time commented out, but the reference remains

[2015-05-20 14:08] miyconst commented on #4
Done.

[2015-05-20 14:08] #4 closed

[2015-10-13 10:00] warpech opened #5 "You are signed in"
Could we change the text to say *"You are signed in"*.

The word "already" makes it look like an error message, not a welcome message.

<img width="528" alt="screenshot 2015-10-13 11 58 12" src="https://cloud.githubusercontent.com/assets/566463/10451692/03e5567a-71a2-11e5-9018-d868523332e1.png">

Or maybe it is intended as an error message?

[2015-10-14 12:42] miyconst commented on #5
Fixed.

The new messages:

![image](https://cloud.githubusercontent.com/assets/6435556/10483851/d1826606-7281-11e5-88d5-11d9e2feb303.png)

[2015-10-14 12:42] #5 closed

[2015-10-20 11:06] warpech opened #6 "Release git tags"
For the last releases 3.1.2-3.1.4, a git tag was not created.

@miyconst can you create it according to the instructions? https://github.com/StarcounterSamples/AppStoreServer/wiki/How-to-publish-apps

When you do it, it will appear in https://github.com/StarcounterSamples/Launcher/releases

[2015-10-20 11:38] miyconst commented on #6
I did not add the tags on purpose, because there were minor changes/fixes. I want to get somehow bug-free version of SignIn and then tag it.

Current version can be released though.

This is probably a typo, should be

[2015-10-20 11:48] miyconst commented on #6
Released as 3.1.5 with some more changes.
https://github.com/StarcounterSamples/SignIn/releases/tag/3.1.5

[2015-10-20 11:48] #6 closed

[2015-10-20 11:48] warpech commented on #6
There is no rule saying that a minor change should not have a tag.

Every release that increases the version number in `package.config` and lands in the app store should have a git tag as part of the process.

[2015-10-20 11:49] miyconst commented on #6
Okay, will tag each version increase. Should I add the missing tags now?

[2015-10-20 12:51] warpech commented on #6
Yes, please. Tags can be applied to previous commits with no problem.

[2015-10-20 13:32] miyconst commented on #6
Done.

[2015-11-13 12:11] malx122 opened #7 "Signin does not redirect correctly, instead give a "workspace without appname""
After discussion, the bug might be within launcher or somewhere else but it is still a bug that affects Signin and there are workarounds!

[2015-11-18 10:10] warpech opened #8 "Explain using SignIn with other apps"
Starting as a list of bullet points in SignIn README.md. It might grow into something bigger

[2015-12-01 05:26] miyconst opened #10 "SignIn app changes page url on sign in button press"
After changes from @warpech:

https://github.com/StarcounterSamples/SignIn/commit/67d8a68636ad52b15e83dfed7bdd96d29f0f170e#diff-13b0b2de614e7894baa826c4e4e4bef0R74
https://github.com/StarcounterSamples/SignIn/commit/67d8a68636ad52b15e83dfed7bdd96d29f0f170e#diff-13b0b2de614e7894baa826c4e4e4bef0R91

SignIn app changes browser url when signing in/out. This is wrong, as those url can't be accessed dir

[2015-12-01 12:30] #10 closed

[2015-12-01 12:31] warpech commented on #10
I agree, thanks for noticing. I reverted how it worked previously.

In the long term this should be sent as a POST request, but I didn't manage to do this in short time.

[2015-12-02 04:39] miyconst commented on #10
Thanks for fixing it.

[2016-02-01 09:28] per-samuelsson opened #11 "Allow disabling call to AssureAdminSystemUser()"
As an example, in a set of replicating databases, that kind of assuring is not always what you want. I might want one database to act "master" of users, and all other slaves, and if I should start a slave before the assuring was done on the master, it will cause duplicates.

[2016-02-05 09:41] warpech commented on #7
Related: https://github.com/Starcounter/InvoiceDemo/issues/55

[2016-02-08 19:18] per-samuelsson commented on #11
Related general (internal) discussion: https://github.com/Starcounter/CompanyTrack/issues/179

[2016-03-24 14:27] warpech opened #12 "Sign In causes a blank workspace to appear"
Current implementation of the "Sign In" and "Sign Out" button results in a blank workspace appearing in Launcher.

For example:

![bug](https://cloud.githubusercontent.com/assets/566463/14019814/cc9b04cc-f1d4-11e5-980c-e21ed876e9fa.gif)

@miyconst any idea how to implement it better?

[2016-03-24 14:28] warpech commented on #7
The "workspace without appname" error is now gone, but we still have a problem with showing a blank workspace. This is tracked in a separate issue: https://github.com/StarcounterSamples/SignIn/issues/12

[2016-03-24 14:28] #7 closed

[2016-03-24 14:31] malx122 commented on #12
This is the same issue that I'm struggling with in my app for the moment. There is no way of calling an url inside the session without switching to that apps workspace...

[2016-03-25 13:19] miyconst commented on #12
The problem is that Launcher catches all of the requests and creates a new workspace for it.

I don't like the idea of having workspaces at all, and would replace it with single `CurrentPage` partial. This does not solve the request filtering issue though.

There is a `HandlerLevel` property in `HandleOptions` with the following values:

[code]

There is no comments of what it means, but maybe we

[2016-03-25 18:46] warpech commented on #12
This is not very clear and should be explained better. Value `0` means an external request. Values `1` and above mean a `Self.GET` request. In case of the OP problem, `HandleLevel` value equals `0`, because it is an external request from the browser.

Thanks, this is actually a very good solution! Any potential drawbacks?

[code]

In future I would like to have a chance to control this by applying

[2016-03-25 18:56] miyconst commented on #12
The only drawback is that other potentially required filters will also be skipped.

[2016-03-25 19:10] warpech commented on #12
I think that an app should never depend on filters added by another app. Filters should be used as a progressive enhancement. Do you agree?

[2016-03-25 20:35] miyconst commented on #12
Agree, but this does not solve the issue.

Let's assume that we have another app which does something cool things via request filter. Now an app disables the filter, then it won't work.

[2016-04-06 12:36] miyconst opened #13 "Increase security of SignIn app, the cookie should be used only once"
The SignIn cookie should be destroyed as soon as used and a new one should be issued.

[2016-04-06 12:37] miyconst opened #14 "Support unicode characters in username and password"
Right now username and password sent to server side by a GET request and unicode characters are not recognized.

[2016-04-06 12:38] miyconst opened #15 "Do not send password as plain text"
It is insecure to send password from client side to server side via plain text. The password should be hashed.

[2016-04-06 12:39] miyconst commented on #15
Reported by @malx122.

[2016-04-06 12:39] miyconst commented on #14
Reported by @malx122.

[2016-04-06 12:39] miyconst commented on #13
Reported by @malx122.

[2016-04-07 10:57] miyconst commented on #12
@warpech do you think we can go with `SkipRequestFilters = true` for time being. Something working is better than nothing, even though it's not perfect.

[2016-04-07 10:59] warpech commented on #12
I agree

[2016-04-07 11:36] miyconst commented on #12
Fixed and released in `3.2.0`. SignIn is no longer causing the blank screen, closing this issue.

Skipping only Luancher filters should be tracked in another issue.

[2016-04-07 11:36] #12 closed

[2016-04-07 11:42] warpech commented on #12
Could you also fix this in GoogleSignIn? https://github.com/StarcounterSamples/GoogleSignIn/issues/8

[2016-04-07 11:46] miyconst commented on #12
Will do so, once I get some free time.

[2016-04-07 12:24] warpech opened #16 "Replace AddRequestFilter with Application.Use"
As discussed in Starcounter/Starcounter#3477

[2016-04-07 12:37] miyconst commented on #16
I take this one.

[2016-04-07 12:57] warpech commented on #13
Rationale and good practices for this are discussed here: http://stackoverflow.com/questions/22965067/when-and-why-i-should-use-session-regenerate-id

[2016-04-07 20:22] miyconst commented on #15
Password is now double hashed. All existing users should be created again.

[2016-04-07 20:22] #15 closed

[2016-04-07 20:23] #16 closed

[2016-04-07 20:24] miyconst commented on #14
Password now supports all characters, it's send to server side as sha1 hash.

[2016-04-07 20:25] miyconst opened #17 "Add remember me checkbox"

[2016-04-07 20:25] miyconst opened #18 "Add restore password function"

[2016-04-07 20:26] miyconst opened #19 "Add simple registration form"
The registration form should contain three fields: Username, Email, Password.

[2016-04-07 20:27] miyconst opened #20 "Add simple user profile form"
Username - readonly.
Email - editable.
Change password form.

[2016-04-07 20:50] miyconst commented on #17
Added Rememer Be checkbox, if checked the cookie is saved for 30 days, if not checked - for one day.

[2016-04-07 20:50] #17 closed

[2016-04-12 14:07] miyconst opened #21 "SMTP account"
The SMTP account from `starcounter.io`:

[code]

Does not access mails:

[code]

[2016-04-12 14:07] miyconst commented on #21
cc @warpech

[2016-04-12 14:42] warpech commented on #21
I created new credentials that work for me (tested locally from Node.js).

But for some reason, it does not deliver to @starcounter.com. It delivers OK to @gmail.com

[code]

I will send you the password on IM.

[2016-04-12 14:45] warpech commented on #21
I this server does not gain Microsoft Office 365's trust, maybe it is better if we switch to an SMTP account at gmail. Let's give it few more hours.

[2016-04-12 15:03] warpech commented on #21
The following setup seems to be recommended:

[code]

(but still, I don't receive email from it at starcounter.com :( )

[2016-04-12 15:22] warpech commented on #21
I know what is going on. SMTP at starcounter.io is thinking that the mail server at starcounter.com is also hosted on Hetzner, which it is not. I will write a question to the admin at Hetzner about this.

[2016-04-12 15:32] warpech commented on #21
I wrote a question to Hetzner's admin about this

[2016-04-12 16:41] miyconst commented on #21
@warpech thanks for taking care of this.

[2016-04-12 20:01] miyconst commented on #21
The setup provided works for me. Emails received, thank you.

[2016-04-12 20:01] #21 closed

[2016-04-12 20:06] #18 closed

[2016-04-12 20:06] #19 closed

[2016-04-12 21:37] #20 closed

[2016-04-12 21:55] miyconst opened #22 "version 4.0 - request review"
I have finished or almost finished the next version of SignIn app. It includes some major changes:

- New internal design.
- Restore password.
- Registration.
- User profile.
- Double password hashing.

The code is available in `version-4.0` branch, @warpech take a look please, if everything is fine I will merge to master branch.

[2016-04-12 21:57] miyconst commented on #22
I don't think it's a good idea to push password of SMTP account, so you have to change the password before testing Restore password function.

[2016-04-13 09:05] warpech commented on #21
After applying instructions from Hetzner, emails are also delivered OK to mailboxes @starcounter.com

[2016-04-13 15:09] ubbeK commented on #22
I am not done testing but I did find one irregularity, the "forgot password"-btn adds a new Resore password section which is replaced by Sign-in if "SIGN-IN"-btn is pressed. This will result in a long list of  Sign-in sections.
![signin_forgotpw](https://cloud.githubusercontent.com/assets/8124023/14498379/83e2299c-019a-11e6-9310-019583c59d8e.gif)

[2016-04-13 15:12] miyconst commented on #22
@ubbeK thank you for reporting. This issue is under investigation: https://github.com/StarcounterPrefabs/Launcher/issues/224.

[2016-04-14 08:51] ubbeK commented on #22
SignInPage.html uses placeholder for input-tag **Username / email** while SignInFormPage.html uses **Username**. Cannot Sign-in using the email.
![signin_email](https://cloud.githubusercontent.com/assets/8124023/14522429/c90de030-022e-11e6-830d-73170c979a67.gif)

[2016-04-14 08:57] ubbeK commented on #22
And also, shouldn't the **SIGN OUT**-btn always redirect the page to **/signin/signinuser** so that the "You dont have persmission to access this page" does not appear?

[2016-04-14 09:17] miyconst commented on #22
Fixed.

No. We never know what applications are running and which of them are available for anonymous users. We should notify about sign in state, but not redirect.

[2016-04-14 10:09] ubbeK commented on #22
Done testing in Chrome. Cannot find anymore bugs.

[2016-04-14 11:02] miyconst commented on #22
Released as SignIn `4.0.0`.

[2016-04-14 11:02] #22 closed

[2016-04-14 13:29] warpech opened #24 "Fix BEM-style CSS in SignIn"
This app generally follows BEM (https://github.com/Starcounter/Starcounter/issues/3450), but in few places applies global CSS rules, for example:

- https://github.com/StarcounterSamples/SignIn/blob/082d52c453c0a69f1e1c04036f761e2c04568d9b/src/SignIn/wwwroot/SignIn/viewmodels/SignInPage.html#L49-L61

There is also some inline style, for example:

- https://github.com/StarcounterSamples/SignIn/blob

[2016-04-15 14:57] andwah opened #25 "Hide/Remove SIGN IN button when registering"
***I want to register***
![image](https://cloud.githubusercontent.com/assets/2656996/14565236/60a88c32-032a-11e6-8e08-24f683168504.png)

***I click `Registration` button***

![image](https://cloud.githubusercontent.com/assets/2656996/14565259/7d5e407e-032a-11e6-8588-d1e2123dda76.png)

Now i want to register and sign in.. so i click  `SIGN IN` and then im shown the sign in page again and have to re

[2016-04-19 06:41] malx122 opened #26 "Hash password before send on client"
No clean password should be visible in webbrowser communication history.
Even though a hijacked client hashed password can be used for this web site, user is protected from problems using the same password at multiple sites.

[2016-04-19 07:45] #26 closed

[2016-04-19 08:27] miyconst commented on #14
Username now also supports unicode characters.

[2016-04-19 08:27] #14 closed

[2016-04-19 09:01] miyconst commented on #13
SignIn app now resets auth-cookie value on each authenticated request.

[2016-04-19 09:01] #13 closed

[2016-04-19 09:03] miyconst commented on #25
How would user navigate back to sign in, if he/she decided to not register?

[2016-04-19 09:04] andwah commented on #25
the back button in browser.

[2016-04-19 09:06] miyconst commented on #25
It's a common and good practice to keep Sign In button on the registration page.
For example stackoverflow: https://stackoverflow.com/users/signup

I can implement a better design, but not remove the button.

[2016-04-19 09:14] andwah commented on #25
What feels normal If i enter the information on the Registration page and then Click the `Sign In` button?  What does the user expect to happen?
I expect to be signed in if provided information is correct not to come to an Sign In page where i need to re-enter the info.

We can keep the sign in button but i think we should change it's behavior then.

[2016-04-19 09:24] miyconst commented on #24
Thank you for the issue. It's fixed now.

[2016-04-19 09:24] #24 closed

[2016-04-19 09:28] miyconst commented on #25
It's not a button, it's a link, and links are naturally point to another page.

I have changed the layout:

![image](https://cloud.githubusercontent.com/assets/6435556/14634364/dde79b80-0621-11e6-9389-847d94c23820.png)

[2016-04-19 09:29] #25 closed

[2016-04-19 09:30] andwah commented on #25
Very Nice. now if feels more natural.

[2016-05-04 09:32] ubbeK opened #27 "SignInFormPage stays open"
The `SignInFormPage` stays open when clicking on *Registration* or *Forgot Password* links but not for *SignIn* and *SignOut* buttons. Shouldn´t the links act the same ways as the buttons? Is this the desired functionality?

![signinform](https://cloud.githubusercontent.com/assets/8124023/15010267/6c711dfc-11eb-11e6-97da-a7c8c0918a0e.gif)

[2016-05-06 09:15] miyconst opened #28 "Registration form should get blocked once user signed in using the popup"

[2016-05-06 09:16] miyconst opened #29 "Auto sign in person after registration"

[2016-05-06 09:39] miyconst opened #30 "Make sign in and registration pages be a single one"
Right now it's impossible to use SignIn form in a popup because registration button points to another page.

It should be same page with different sections. Same applies to restore password.

[2016-05-09 20:05] miyconst commented on #27
Thank you @ubbeK for the question, it's definitely a bug.

Now it's fixed with a new version of Sign In.

[2016-05-09 20:05] #27 closed

[2016-05-09 20:06] miyconst commented on #28
Now Registration and Sign In forms are on the same page, blocked all together.

[2016-05-09 20:06] #28 closed

[2016-05-09 20:06] miyconst commented on #29
Done.

[2016-05-09 20:06] #29 closed

[2016-05-09 20:07] miyconst commented on #30
Sign In, Registration, Restore password is a single partial now. Works from modal windows.

[2016-05-09 20:07] #30 closed

[2016-05-16 10:06] atifwaqar opened #31 "Issue in Logging-in"
I just updated all my apps (Signin, Launcher, UserAdmin), and i am using latest nightly build. and i am not able to login.

I debugged the issue, and this is what I found :
![image](https://cloud.githubusercontent.com/assets/4388707/15286598/3de7a588-1b5e-11e6-8ad8-6f1ea5208fdc.png)

in above attachment, if I replace the value "d3b5e082eb4d89e837a81379616ddca22f6f14d2" to password string (which is

[2016-05-16 10:16] miyconst commented on #31
@atifwaqar in the SignIn version `4.x.x` password is double hashed, first on the client side, then on the server side. See this issue for more details: https://github.com/StarcounterSamples/SignIn/issues/15.

[2016-05-16 10:16] #31 closed

[2016-05-16 10:20] atifwaqar commented on #15
@miyconst I just cleaned my DB, Created the users again, and i still have the same issue. as explained in [31](https://github.com/StarcounterSamples/SignIn/issues/31)

Do you think my User Creation have some issue?

[2016-05-16 10:25] miyconst commented on #15
See how the SignIn app created a default user: https://github.com/StarcounterSamples/SignIn/blob/master/src/SignIn/Helpers/SignInOut.cs#L19, and make sure that you double hash password.

[2016-05-16 10:52] atifwaqar commented on #15
Thanks for the Update. My code works fine now.
But do you have any suggestion for our Live server? because we can not delete and add all the users again. is there any modify password function which can fix the old passwords automatically?

[2016-05-16 10:58] miyconst commented on #15
Unfortunately there is no function to "fix" password automatically as hash is a one way operation.

- You can reset all the passwords and send it to the clients.
- You can modify SignIn app so it tries to sign in with a single hashed password in case of failure and later updates database.
- You can add an "Update my password" form where users will enter their current password and click update. Sin

[2016-05-16 11:03] atifwaqar commented on #15
@miyconst Thanks for the information :+1:

[2016-05-16 16:02] miyconst opened #32 "SignIn popup is statically placed"
![signinpopupplacement](https://cloud.githubusercontent.com/assets/8124023/15293085/8a28bd38-1b86-11e6-8d41-ba1df099a296.gif)

[2016-05-19 14:05] warpech opened #33 "Extend README.md with information how to map SignIn app to my app"
README.md is missing information on how to actually show Sign In form with my system. Do I need Launcher? Etc...

[2016-06-07 07:49] miyconst opened #34 "Replace client side hashing with client side encryption"
Right now SignIn app applies hash on top of the password two times: client side and server side. This makes it incompatible with the previous versions and other apps using password, such as UserAdmin.

@malx122 as I understood from your words that your main reason for double hashing is to obfuscate the real password, so it won't be easy to remember if seen by a chance.

Do you mind if I replace cl

[2016-06-07 08:00] malx122 commented on #34
Yepp, I do mind.
We have already done the double hashing part so a change would mean that our users needs to change their password ONE MORE time.

But a simple encryption would also decrease security.

The reason for double hashing is not the security in our app(s), its for protecting the users password that can be used in other apps as well. And even if a simple (or advanced) encryption is used,

[2016-06-07 08:49] miyconst commented on #34
I will keep the backward compatibility with the double-hashed version, so users won't need to set up the password again.

The security also won't be compromised, because the server side hashing will not be changed, and the password will still be saved as a hash, not as an encrypted value.

Do you have any other concerns?

[2016-06-07 09:48] malx122 commented on #34
I repeat myself, I don't think you understand the reason behind the client hashed password.
The security for the PASSWORD (not the server, not the database, not the databases data) will be less for an encryption than for a client side hash. Not much less, but less!

So why implement a worse solution than you already have...

(There is actually better solutions, but then we are talking really advan

[2016-06-07 10:09] miyconst commented on #34
It is not that much worse, but give compatibility with other apps.

A starcounter app should not assume that another app of a certain version is running. A user password is a password, and user would expect to have same behavior by entering the same password in SignIn, UserAdmin, or CustomSignIn app.

If one of the apps changes the password to something else using some algorithm, then it became no

[2016-06-09 12:35] miyconst opened #35 "Replace SessionContainer class with a proper JSON view-model"
Statefull partials should always have a template: https://github.com/Starcounter/Starcounter/issues/3693.

[2016-06-16 08:37] miyconst commented on #34
@malx122 are you still against this replacement?

[2016-06-16 08:42] #35 closed

[2016-06-16 08:51] miyconst commented on #11
I have disabled auto admin user generation. It is possible to generate the user by opening `/signin/generateadminuser`. The handler generates the user only if there is no users in database.

Readme is also updated. Closing the issue.

[2016-06-16 08:51] #11 closed

[2016-06-16 13:42] miyconst commented on #32
Fixed on the `juicy-popover` level.

[2016-06-16 13:42] #32 closed

[2016-07-18 16:28] warpech opened #36 "Replace juicy-style with template is="starcounter-composition""
This task is the part of the effort to implement https://starcounter.gitbooks.io/rebelslounge/content/app/client/layouts/longterm_solution_md.html

Support for `juicy-style` is being removed from Launcher, starting from Launcher `develop` branch.

Use Products app as reference for this task (https://github.com/StarcounterSamples/Products/issues/18)

---

In the SignIn app, replace `juicy-style` wi

[2016-07-19 20:36] warpech opened #37 "Sign in dropdown in Launcher's toolbar is broken"
Sign in dropdown in Launcher's toolbar is broken with at least 2 problems:

- it is positioned at the left edge of the window
- it does not react correctly to mouse clicking

[2016-07-19 22:09] #37 closed

[2016-08-09 21:57] atifwaqar opened #39 "Question : Where can i find documentation of this repository?"

[2016-08-16 10:43] warpech commented on #39
In the README.md. But it is very limited, I admit. See this: https://github.com/StarcounterPrefabs/SignIn/issues/33

I will try to do this ASAP.

Any particular questions?

[2016-08-16 10:43] warpech commented on #8
Tracked in https://github.com/StarcounterPrefabs/SignIn/issues/33

[2016-08-16 10:43] #8 closed

[2016-08-16 10:45] atifwaqar commented on #39
Is there any existing way to define user with specific roles?
like Administrator, Manager, Viewer, Reporter, etc

[2016-08-16 10:49] warpech commented on #39
We are working on it right now, but it will take few more weeks.

The concept is that:
- in SignIn app you just ask for username and password for not signed in user (do the **Authentication**)
- in your app you define permissions (do the **Authorization**)
- in UserAdmin app you create SystemUsers and SystemUserGroups and assign permissions to them in run time

[2016-08-16 10:57] atifwaqar commented on #39
Nice, this is exactly what i was looking for.
Do you have any demo code for what you explained above? any sort of sample code will be really really helpful.

[2016-08-16 10:58] warpech commented on #39
This is work in progress. This will be available about one week from now. I will let you know, ok?

[2016-08-16 10:59] atifwaqar commented on #39
Awesome. I'll be waiting for it then :) Thanks for the help.

[2016-08-16 14:44] warpech commented on #1
I think that this move was not correct. Actually it is the **User Admin** app that requires an "admin" user.

**Sign In** app does not require any user to work. It will just not allow anyone to sign in, unless at least one SystemUser exists.

@miyconst can I revert it?

[2016-08-16 14:49] miyconst commented on #1
Although it's logically, I would rather not. Very often we need a SignIn app and a default user, but installing UserAdmin just for this purpose is too troublesome. Also, the SignIn app no longer generates admin user automatically. Only when manually triggered by a URL.

[2016-08-16 15:11] warpech commented on #1
Thank you for the input. I think it needs improvement in the long term, because right now it is difficult to understand how to get the UserAdmin app to work.

For the time being, I've just added instructions here: https://github.com/StarcounterPrefabs/UserAdmin/blob/master/README.md

[2016-08-16 15:13] miyconst commented on #1
Okay. Actually the entire app asks to be re-done for long time.

[2016-08-16 15:13] miyconst commented on #1
Do you think it's something @Joltrix can do?

[2016-08-29 13:06] Mnosek opened #40 "Authtoken cookie is always session expired"
Basically the 'Remember me' checkbox doesn't work. I've investigated it a bit. It seems like on the server side there is a valid cookie expiration date set, but it has no effect in the browser. In result user is always logged out just after session ends up.

[2016-08-30 15:04] warpech commented on #40
This is 100% reproducible when I have a breakpoint in SignIn app and 0% reproducible if I don't have a breakpoint.

@alemoi, does Starcounter have any timeout for a HTTP GET request that cancels the request after 10-11 seconds?

See the following screenshot:

![2016-08-30 17_01_51-launcher](https://cloud.githubusercontent.com/assets/566463/18094438/bdb154a8-6ed3-11e6-8381-a89ec9d84280.png)

[2016-08-30 15:06] Mnosek commented on #40
At my machine it doesn't matter if I have breakpoints/debugger attached or not. Cookie is always session expired. Is it possible that this problem occurs only at pnext?

[2016-08-30 16:24] warpech commented on #40
Note that similar symptoms happen if SignIn is started before Launcher (this is being fixed in https://github.com/Starcounter/Starcounter/issues/3800 and https://github.com/Starcounter/Starcounter/issues/3810)

Can you try again, but make sure Launcher is started before SignIn.

[2016-09-01 15:11] tomalec opened #41 "Sign in popup is positioned outside of viewport"
![image](https://cloud.githubusercontent.com/assets/17435/18172724/f7c3a8c8-7066-11e6-9574-dc8a6416d074.png)

It seems it has `position: absolute;` but we didn't proper `position: relative;` parent.

[2016-09-01 15:26] tomalec commented on #41
My bad, I have run old SiginIn app from appstore.

[2016-09-01 15:26] #41 closed

[2016-09-12 18:56] Mnosek commented on #40
I've tried again (starting order):
- Starcounter 2.3.3771
- Launcher (Sweoffshore Portal)
- SignIn from master
- UserAdmin from master

Problem still occurs. Should I try with current Launcher version?

[2016-09-12 19:33] Mnosek opened #42 "Signing after credentials autocomplete doesn't work"
If the username and password is stored in the browser and filled out by autocomplete, sign in button doesn't work at the first time. Steps to reproduce:

1. Open Sign In form

1.  Sign in with correct credentials and save them in the browser

1. Sign out

1. Refresh the page (autocomplete should fill out the form automatically)

1. Click on "Sign In" button

1. Red alert that username is required

[2016-09-20 12:21] warpech commented on #40
Actually I have a reverse problem - "Remember me" always remembers, even if it is unchecked. Investigating.

[2016-09-20 12:35] warpech commented on #40
Some problems that I've found:

1. Session cookie uses wrong expiration date format. Created an issue in Starcounter: https://github.com/Starcounter/Starcounter/issues/3847
2. Session cookie treats local time zone as UTC.
3. "Remember me" always remembers, even if it is unchecked.

Investigating.

[2016-09-20 16:33] warpech commented on #40
1. Should be fixed after the next nightly build
2. Fixed in https://github.com/StarcounterPrefabs/SignIn/commit/3ada71718c585b247d60dd92542540d098732f76
3. Fixed in the same commit

[2016-09-21 05:38] warpech commented on #42
@Mnosek I've made fixes for this and #40 on SignIn `develop` branch.

Could you please test (make sure to have **today's nightly**)

[2016-09-21 05:38] warpech commented on #40
Fixed on `develop` branch

[2016-09-21 08:08] Mnosek commented on #42
Thanks @warpech ! Autocomplete works fine on today's pnext.

[2016-09-21 08:08] #42 closed

[2016-09-21 08:11] Mnosek commented on #40
I've tried it with latest pnext and it still doesn't work, cookie is Session expired. Do I need to do anything else?

[2016-09-21 08:22] warpech commented on #40
You shouldn't have to. Let's investigate on your PC later today.

[2016-09-21 08:27] andwah opened #43 "Can not sign in a registered user"
Using the Registration app v0.0.9 to register a new user.

That user fails to sign in (invalid password?).

related https://github.com/StarcounterPrefabs/Registration/issues/5

[2016-09-21 10:00] warpech commented on #40
I thought I have tested it, but actually I made a dumb error. Fixed in d0de9b20b5f47b809f4d1261fa04d88dcd316c87

Can you please retest?

[2016-09-21 10:07] warpech opened #44 "Refreshed authtoken cookie does not include Expires date"
### Steps to reproduce
1. Start Launcher and SignIn
2. Authenticate as "admin" user (check "Remeber me")
3. Check that you receive an authtoken with "Expires" date
4. Reload the page
5. Check that HTML response contains regenerated authtoken without the "Expires" date
### Expected result

The regenerated authtoken cookie should include relevant "Expires" date.
### Actual result

The regenerated au

[2016-09-21 10:11] warpech commented on #40
Please note that another issue still exists: https://github.com/StarcounterPrefabs/SignIn/issues/44

[2016-09-21 12:26] Mnosek commented on #40
Works great, thanks a lot!

[2016-09-21 12:26] #40 closed

[2016-10-10 13:45] stefanedqvist commented on #43
@miyconst can you fix this?

[2016-10-10 13:49] miyconst commented on #43
Yes, but only in exchange of other projects.

[2016-10-18 07:16] andwah commented on #43
*bump*

[2016-10-18 10:02] miyconst commented on #43
This is the same as [Registered user can not login.](https://github.com/StarcounterPrefabs/Registration/issues/5). Closing.

[2016-10-18 11:11] ubbeK commented on #1
I stumbled on the following code when playing around with our inside starcounter site and found this issue.

[code]

It has already been some discussion regarding this here but I would like to point out that any Database that is running the `SignIn` app has this public handle to create a adminuser. Sure, if there already exists some SystemUser no harm will be done but it still feels kind of sketch

[2016-10-18 11:19] miyconst commented on #1
@ubbeK you are right. I can suggest to refuse to generate the default administrator, if the call is coming from everything but `localhost` (`127.0.0.1`). I have seen such security measure in many Microsoft solutions.

[2016-10-18 12:38] ubbeK commented on #1
That would do just fine.

[2016-10-18 13:31] miyconst opened #45 "Allow requests to /signin/generateadminuser from localhost only"
Original issue: https://github.com/StarcounterPrefabs/SignIn/issues/1

[2016-10-20 08:43] Joltrix commented on #45
Implemented in [StarcounterPrefabs/SignIn/a750754](https://github.com/StarcounterPrefabs/SignIn/commit/a750754e9c2af6502b78d717096850ccbcef363d)

[2016-10-24 08:38] miyconst commented on #39
@warpech do we have any progress on this?

[2016-10-24 08:38] miyconst commented on #45
Thank you @Joltrix, closing the issue.

[2016-10-24 08:38] #45 closed

[2016-10-24 13:28] warpech commented on #39
We have decided to follow the hard path: https://github.com/Starcounter/RebelsLounge/issues/41

Please follow the discussion there. @joozek78 updates the issue with information about progress. There should be some new stuff this week.

[2016-10-24 13:47] mtornwall commented on #34
Sending `SHA1(password)` instead of `password` from the client confers no security benefits whatsoever. SHA1, particularly when unsalted, is practically broken for password hashing (albeit not for integrity checking) due to recent advances in hardware. Indeed, the best Bitcoin mining ASIC's (which must compute the slower function `SHA256(SHA256(x))` achieve 14 **trillion** hashes/sec.

You certain

[2016-10-24 13:59] mtornwall opened #46 "The password (hash) shouldn't be sent as part of the URL"
I noticed that the username and password are sent to the server by asking Puppet to load `/some/url/username/passwordhash`. This is problematic as many web servers save the path and query string to their log files where an attacker or rogue employee might be able to retrieve it later.

[2016-10-24 14:02] mtornwall commented on #34
That being said, all objections that can be raised against client-side hashing are equally valid for (symmetric) client-side encryption.

[2016-10-24 15:43] miyconst commented on #39
Okay.. I have already read that issue, and participated.

[2016-10-24 16:01] miyconst commented on #34
@mtornwall thank you for this nice short article, I am on your side.

The client side password encryption is to prevent people coming near by your machine to immediately remember the password when it is in the address bar or in the developers console.

I do agree that it does not add any extra security to the application, apart of making it more difficult to remember by a human when seeing on a sc

[2016-10-24 16:09] mtornwall commented on #34
Aha, then I see the justification. :) However, I think this poses a problem in itself, as I noted in #46.

[2016-10-28 14:18] warpech opened #47 "Merge master branch to develop, then develop to master"
@Joltrix Similarly to what I pointed out in KitchenSink, please merge master branch to develop branch. Then merge develop to master, to have a clean state of the repo.

In future, please always do the work in the apps in the develop branch (and feature branches started from that branch).

Branching guidelines: https://github.com/StarcounterPrefabs/Guidelines/blob/master/branching.md

[2016-10-28 14:55] Joltrix commented on #47
@warpech I apologize! Out of habit (in the palma project) I just commited it to master.

I merged them now, so they should be the same! (note* they should! I think my github is a bit bugged, so I can update master from develop, and then update develop from master in an endless loop... Or should this be possible? In any case, I've updated them! :D )

If they're not merged, or if I did anything wron

[2016-10-28 14:55] #47 closed

[2016-10-28 15:14] warpech commented on #47
Thanks!

This is normal. The branches were changed in parallel, which caused a *fast-forward* merge to be impossible. Hence, *recursive* merge was applied by git. After *recursive*, the merge itself becomes a commit. This will cause this "loop" effect. It is nothing wrong, just we will have to live with it from now on.

Normally only merges `develop -> master` will be done.

[2016-10-28 15:16] warpech commented on #47
Actually I lied. After a *recursive* merge from `develop -> master`, you can do a *fast forward* merge from `master -> develop`. From now on, the two branches are in sync again.

I just did it.

Future merges `develop -> master` will be fast forward.

[2016-10-28 15:24] Joltrix commented on #47
Ah phew, luckily I didn't break anything!

Thanks for fixing! :D, I'll be careful to only commit to develop from now on, and then update master from there

[2016-10-30 17:29] aloscha opened #48 "Problem with auto log off"
I use SignIn app + UserAdmin app + third part application. In latest application, first I should login and there are link, which is redirect into user details (UserAdmin app) based on OntologyMapping. Sometimes redirect show details, sometimes not, after refresh I'm always logout.

I've use latest pnext from Starcounter.

[2016-10-30 18:59] Mnosek commented on #48
cc @warpech

[2016-10-31 16:56] warpech commented on #48
@aloscha could you please provide steps to reproduce?

[2016-10-31 16:56] warpech commented on #44
@diliger pls take this when you have time

[2016-11-02 11:53] aloscha commented on #48
Just go to Dashboard of ProcessDesigner in SO project and click Assignee. Then after redirection you should refresh page and I'm log out then.
![image](https://cloud.githubusercontent.com/assets/5141943/19927687/17cc69c4-a0fb-11e6-9541-366be3e69781.png)

Also before you will build project etc., please go to `ChecklistDesigner.Helper.UriHelper` and uncomment line 54.

It's really strange but on my

[2016-11-03 10:34] miyconst commented on #1
Implemented by @Joltrix, closing. Now it is possible to generate default admin user only from localhost.

[2016-11-03 10:34] #1 closed

[2016-11-03 11:06] warpech commented on #34
@miyconst for me, a fast solution is to replace client-side hashing with double server-side hashing. This should be backwards compatible.

[2016-11-03 11:55] miyconst commented on #34
So, can we agree on the following:

- Completely remove client side hashing.
- Apply double hashing on server side to keep compatibility with the old password.
- Update SignIn app so it sends POST request instead of GET.
- Send username/password parameters as a POST parameter, not a query string value.

[2016-11-05 13:47] andwah commented on #43
I think the problem is in this app not in registration app.

[2016-11-05 13:49] andwah commented on #43
i will assign this to @miyconst  as he has maybe a solution after the meeting with jocke.

[2016-11-05 13:53] miyconst commented on #43
@andwah, yes, this issue is in SignIn app, but the reason is the same. And here is already an issue for it - [Replace client side hashing with client side encryption](https://github.com/StarcounterPrefabs/SignIn/issues/34).

[2016-11-05 13:53] #43 closed

[2016-11-05 14:14] andwah commented on #43
As i understand it this is a bug/showstopper and the [Replace client side hashing with client side encryption](https://github.com/StarcounterPrefabs/SignIn/issues/34). is an enhancement.

[2016-11-05 14:15] miyconst commented on #43
Yes, but this showstopper appeared because of the double hashing in the SignIn app.

[2016-11-05 14:23] andwah commented on #43
We need a common solution so apps can work together. How can this be done?

if this app is broken we need to fix it ASAP.

[2016-11-05 14:28] miyconst commented on #43
Please read my comment in the issue linked above - https://github.com/StarcounterPrefabs/SignIn/issues/34#issuecomment-258123328.

It should fix compatibility issue between SignIn, UserAdmin, Registration. Just need a confirmation from @warpech and @malx122.

[2016-11-05 14:33] andwah commented on #34
@warpech, @malx122  what do you think about @miyconst comment?

[2016-11-06 22:17] Mnosek opened #49 "Add autofocus attribute to username input"
In `SigninPage.html` there should be autofocus attribute on username input field. It will allow user to start filling up the form immediately after entering a page. WDYT?

cc @warpech

[2016-11-07 10:37] warpech commented on #34
I agree. BTW a `DELETE` HTTP request can be used to log out a user.

[2016-11-07 13:55] warpech commented on #49
Both sign in pages available in this app:

- expandable top-right corner
- full page form

are an excellent showcase that we use autofocus.

Perhaps it is indeed as simple as adding a "autofocus" attribute, but have you checked that? These pages are dynamically loaded, so a simple "autofocus" attribute might not work in all browsers.

The problem starts when you merge multiple pages, many of which

[2016-11-07 15:43] tomalec commented on #49
[MDN says](https://developer.mozilla.org/pl/docs/Web/HTML/Element/Input#Attributes):

[W3C spec](https://www.w3.org/TR/html5/forms.html#autofocusing-a-form-control:-the-autofocus-attribute) says:

What makes it a problem for merged partials.

You can check actual browser's behavior for dynamically stamping two `autofocus` element to the document at http://output.jsbin.com/vaniri (http://jsbin.com/

[2016-11-07 16:56] warpech commented on #49
So maybe that's not a terrible idea:

[code]

This would work without `autofocus` at all.

[2016-11-07 17:09] tomalec commented on #49
But what `juicy-focus` is supposed to do?

[2016-11-09 12:21] warpech commented on #46
@miyconst is working on it (#50)

[2016-11-09 12:23] miyconst commented on #46
It is already implemented in the [scrypt](https://github.com/StarcounterPrefabs/SignIn/tree/scrypt) branch. Available for test.

[2016-11-09 15:44] andwah opened #51 "One click to auto generate admin user"
If:
* there is no user with username "admin"
* and current request originates from localhost

then:

* display a button in all "sign-in" forms
  * with label "generate admin account" (or equivalent)
  * with tooltip "This will generate a default admin account" (or equivalent)
  * which, after clicking will... generate the admin account :)

also:

  * Remember to check the conditions in input handl

[2016-11-09 18:09] warpech commented on #46
I have done the code review of https://github.com/StarcounterPrefabs/SignIn/pull/50 and https://github.com/StarcounterPrefabs/Simplified/pull/32

Are the changes in UserAdmin and Registration also ready for code-review?

[2016-11-09 18:09] warpech commented on #34
I have done the code review of https://github.com/StarcounterPrefabs/SignIn/pull/50 and https://github.com/StarcounterPrefabs/Simplified/pull/32

Are the changes in UserAdmin and Registration also ready for code-review?

[2016-11-10 14:14] miyconst commented on #34
Yes, but there are too few of the changes, so I didn't rise a pull request.

[2016-11-10 16:05] warpech commented on #34
OK

[2016-11-10 18:47] miyconst commented on #34
@warpech thank you for the reviews. Closing the issue.

[2016-11-10 18:47] #34 closed

[2016-11-16 14:31] aloscha opened #52 "Generate admin users"
Right now there only way to generate admin user is type: `/signin/generateadminuser`. And there are condition `Db.SQL("SELECT o FROM Simplified.Ring3.SystemUser o").First != null`.

In our project, we have possibility to run application with seed data (also we've create test user for start). So when we start signin, then our app with seed data, the `SystemUser` table is not empty and we couldn't g

[2016-11-16 15:26] miyconst commented on #52
This is a security feature. If there is a user in the table, then maybe it is a local admin which has access to the users and he/she deleted the default administrator. Generating it once again is not safe.

If you have the default database and/or user generation, then you should take care about the admin user as well.

[2016-11-16 15:33] aloscha commented on #52
But adding handler outside to generate any user is not security safe, at all. Maybe better will be adding some parameter to run application like `SingIn.exe -generateAdmin`?

[2016-11-16 15:47] miyconst commented on #52
It is safe enough, considering that it will generate a user only if:

- There are no other users.
- The request is coming from localhost.

[2016-11-17 10:33] andwah opened #53 "Switch from using package.bat + zip.exe to starpack.exe."

[2016-11-17 12:37] warpech commented on #53
When preparing a new release, please make sure that app's `master` branch should work with Starcounter stable.

Releases can be made from `develop` branch, but then they need to have `-develop.NUM` suffix, for example: `5.0.3-develop.0`

[2016-11-17 16:07] andwah commented on #53
completed, Did not touch "master" branch

[2016-11-17 16:07] #53 closed

[2016-11-21 15:37] per-samuelsson commented on #52
Does this discussion relate to this: https://github.com/Starcounter/CompanyTrack/issues/179

It's an old issue about the problems with automatic data assurance pattern, and also touches https://github.com/StarcounterPrefabs/SignIn/issues/11.

[2016-11-22 06:58] miyconst commented on #52
Yes, it is related, but from other side. I doubt that anything will be changed in scope of this issue.

@aloscha do you still insist on the points from the main comments?

[2016-11-24 00:37] diliger commented on #44
Well, after some research i figured out such behavior:

1. SignIn with RememberMe, receive Cookie in response with expiration time
![image](https://cloud.githubusercontent.com/assets/15857369/20582966/f076907c-b1f6-11e6-84af-c445dc7ceea6.png)

2. But in document.cookie variable I see only cookie name and value, without any information about expiration or other parameters
![image](https://cloud.git

[2016-11-24 00:38] diliger commented on #44
So, what may be the way to fix it?

[2016-12-01 22:54] warpech commented on #44
In `SetAuthCookie` there is a `cookie.Expires` call that sets the expiry date.

I guess it is enough to add `cookie.Expires` in `RefreshAuthCookie`. You will need to store the token expiry date in the `Expires` property of https://github.com/StarcounterPrefabs/Simplified/blob/master/Ring5/User/SystemUserTokenKey.cs - this is the purpose why that property was added.

[2016-12-01 22:56] warpech commented on #44
This will only work with Starcounter nightly, SignIn develop - but that's fine.

[2016-12-12 23:45] diliger commented on #44
please review my pull request #55

[2016-12-13 09:27] Mackiovello opened #56 "TypeInitializationException when running SignIn with Starcounter 2.3.5364"
### Steps to reproduce

1. Download starcounter 2.3.0.5364
2. Start SignIn
3. Start Launcher
4. Go to localhost:8080/launcher

### Expected result
Launcher starts with signIn app

### Actual result
I get the error:
[code]
### Technical information

- Starcounter 2.3.0.5364
- SignIn app, both develop and master branch

Other apps work.
I've tried clearing the database.
The app worked on version 2.3

[2016-12-13 09:39] chrhol commented on #56
This line:

`Template.set_ClassName(System.String)` should not be called at all in 2.3 versions and it's really strange that it works in the earlier version of Starcounter, it was quite some time ago (1-2 months) since this was changed.

 We have had some problems on the buildserver where the wrong buildtask were used, maybe there is something wrong with the build. I will take a look at the build

[2016-12-13 09:46] chrhol commented on #56
The build looks correct, are you running the correct version of SignIn? The apps needs to be recompiled between 2.2 and 2.3 since the generated code is different.

[2016-12-13 10:00] Mackiovello commented on #56
Huh, interesting. I downloaded and ran SignIn on 2.3 yesterday without a problem. Now I did a `git pull`, `./build.bat`, and `./run.bat` which made it work again.

Thank you, I'm closing the issue.

[2016-12-13 10:00] #56 closed

[2016-12-13 11:25] joozek78 opened #57 "SystemUserTokenKey - Expires and LastUsed"
Currently `Expires` is not used at all - token's real expiration date is set in `SystemUser.ValidateAuthToken` and is equal to LastUsed + 7 days.
Either remove it or make some use of it

[2016-12-13 11:30] aloscha commented on #52
I think we can stay with current version @miyconst

[2016-12-13 11:30] #52 closed

[2016-12-13 11:34] joozek78 commented on #39
New Authorization library (along with docs) will be generally available probably in Q1 2017. It should be then referenced in this repository.

[2016-12-13 11:34] #39 closed

[2016-12-29 11:14] warpech commented on #44
It seems to me that there are still two problems:

1. When I sign in and reload the page, a new token string replaces the previous token. I think that this might lead to race conditions - if I open my app in 5 browser tabs simultaneusly, they might affect each other tokens.
2. The regenerated token does not extend Expires date. I think this is wrong. The regenerated token should have fresh "expire

[2017-01-05 17:48] warpech opened #58 "Replace ImageURL with Illustration"
Since now ImageURL is obsolete, its occurrence in SignIn needs to be replaced with Illustration (if there is an illustration to a Person associated with the SystemUser class).

Otherwise SignIn does not compile with last changes in Simplified.

I can explain more if needed.

@diliger can you please do that?

[2017-01-10 15:46] diliger commented on #58
If there is no `Illustration` for the `Person`, should I request **Gravatar** for empty string?
`if (string.IsNullOrEmpty(this.ImageUrl))
 {
      this.ImageUrl = Utils.GetGravatarUrl(string.Empty);
}`

[2017-01-10 15:52] diliger commented on #58
PR #59

[2017-01-11 15:11] andwah opened #60 "Release SignIn for Starcounter 2.3"
When i try the signin app in SC 2.3 i get this error:

[code]

[2017-01-11 17:12] warpech commented on #60
Have you tried 5.0.4-pnext from the old warehouse?

[2017-01-11 19:00] andwah commented on #60
No. only the one that is in "new" warehouse with version 5.0.4, but than one is not compatible with 2.3.

It's not possible to download from the "old" warehouse in sc 2.3.
Should i just pull the latest signin code and release a new version to the new warehouse?

[2017-01-12 14:39] warpech commented on #60
Yes, if you please could do that, that would be awesome.

[2017-01-12 16:53] andwah commented on #60
done,  i also updated the "Registration" app.

[2017-01-12 16:54] #60 closed

[2017-01-12 21:29] diliger commented on #44
Can it be closed now?

[2017-01-16 14:03] diliger commented on #58
Can be closed now?

[2017-01-16 15:32] warpech commented on #58
No, because the PR is still ongoing.

[2017-01-18 17:35] warpech commented on #57
Fixed in PR #55

[2017-01-18 17:35] #57 closed

[2017-01-18 17:35] warpech commented on #44
Fixed in PR #55

[2017-01-18 17:35] #44 closed

[2017-01-25 09:48] warpech opened #63 "Replace paper-icon-button with SVG icon"
After https://github.com/StarcounterPrefabs/SignIn/pull/59 is merged, we should unify how SVG icons are used.

Right now, we display a `paper-icon-button` for a non signed in user, and a SVG icon for a signed in user.

It should be the same SVG icon in both cases.

![bug](https://cloud.githubusercontent.com/assets/566463/22285377/b2b98fde-e2eb-11e6-8435-4cfc1f99858f.gif)

[2017-01-25 10:04] warpech commented on #63
Also `paper-button` seems to be not needed anymore.

[2017-01-31 15:49] warpech commented on #58
Closing as done

[2017-01-31 15:49] #58 closed

[2017-02-03 14:55] un-tone opened #64 "Sign-in form does not work when refreshing"
### Steps to reproduce
1. Start Launcher `develop` branch
2. Start SignIn `develop` branch
3. Go to `http://localhost:8080/launcher`
4. Click on the "User" icon
5. Press "Forgot password?" button, the URL changes to `http://localhost:8080/signin/signinuser?/launcher`
6. Press F5 to reload the page

### Expected result
The page should correctly reload with the "Sign In" view.

### Actual result
Whe

[2017-02-03 15:22] un-tone opened #65 ""Restore password" form is not shown from popup"
### Steps to reproduce
1. Start Launcher develop branch
2. Start SignIn develop branch
3. Go to http://localhost:8080/launcher
4. Click on the "User" icon
5. Press "Forgot password?" button on the popup form

### Expected result
"Restore password" form is shown

### Actual result
"Sign In" form is shown

### Technical information

##### Starcounter version 2.3.0.5635

##### Involved apps' version

[2017-02-06 12:46] warpech commented on #64
Closing as done.

[2017-02-06 12:46] #64 closed

[2017-02-07 08:31] atifwaqar opened #67 "After Signing in User have to refresh the page."
After singing in the page does not update, and user have to refresh the page to see the logged in content. I tried to sync the latest code and tested the behavior again, but its still the same.

(The last commit in sighin repo is `Merge remote-tracking branch 'refs/remotes/origin/develop`)

[2017-02-09 00:09] warpech commented on #67
Actually it is not caused by SignIn, but by the other app that should react to people signing in. Some of our sample apps listen to it using commit hooks, for example: https://github.com/StarcounterPrefabs/UserAdmin/blob/develop/src/UserAdmin/Api/CommitHooks.cs

[2017-02-09 00:10] warpech commented on #63
@un-tone can you pls take this?

[2017-02-09 00:13] warpech commented on #49
Focus the first element found inside of it (distributed or not).

[2017-02-09 00:14] warpech commented on #48
Is this still reproducible?

[2017-02-09 00:16] warpech commented on #46
This was fixed in PR #50.

[2017-02-09 00:16] #46 closed

[2017-02-09 10:15] tomalec commented on #49
when?

[2017-02-09 10:16] warpech commented on #49
in `attachedCallback`

[2017-02-09 10:18] warpech commented on #49
Ideally we would want our own "autofocus" custom attribute that is controllable by BlendingEditor, wouldn't we? That's as close as we can get

[2017-02-09 10:26] tomalec commented on #49
Definitely worth investigation, however we need to take care of timing of content distribution.
Controlling focus totally by ourselves, and re-implenting the thing implemented in browser, and trying to do it better than w3c may be a hard task. So I'd start with this CE to see how far we can get.

[2017-02-15 09:27] warpech opened #69 "SignIn app does not work standalone"
### Steps to reproduce

1. Run `staradmin stop db default`, to make sure you stop all the running apps
2. Start SignIn `develop`
3. Go to `http://localhost:8080/signin/signinuser`

### Expected result

You should see a sign in form or a message "You are signed in as ..."

### Actual result

You see a blank page. In the page source, I can see that an **unwrapped** view appears, as if `PartialToStan

[2017-03-02 07:55] atifwaqar commented on #67
@warpech we are using UserAdmin app as well, shouldn't UserAdmin app fix this automatically? or do I have to add this commithook in my project?

[2017-03-02 12:31] warpech commented on #67
Every app needs to repeat that using commit hooks for its own view-models.

[2017-03-07 09:03] atifwaqar opened #71 "On Signing out the page gets redirected to http://localhost:8080/launcher"
### Steps to reproduce
Signin and Signout. If the issue does not appear at first log out, try signing in and out a couple of times.

### Expected result
There should be no redirection, the page URL should remain the same.

### Actual result
The page gets redirected to http://localhost:8080/launcher

### Technical information

##### Starcounter version
SC 2.3.0.5799

##### Involved apps' version
1.

[2017-03-14 23:55] atifwaqar commented on #67
@warpech Thanks. This was helpful.

[2017-03-14 23:55] #67 closed

[2017-03-16 16:10] warpech opened #73 "Use uniform batch scripts"
Use uniform batch scripts as presented in https://starcounter.gitbooks.io/guidelines/content/batch-files.html

Discussion: https://github.com/Starcounter/Guidelines/issues/6

[2017-03-17 10:00] warpech commented on #73
According to the discussion linked above, `make.bat` and `restart.bat` should be removed.

[2017-03-17 12:32] warpech commented on #73
Some projects output the exe files to `./bin/Debug` instead of `./src/<appname>/bin/Debug`.

The latter form is expected (see https://starcounter.gitbooks.io/guidelines/content/project_structure.html)

If this solution does not output the exe files to the desired paths (both in msbuild and in VS), please fix that immediately too.

[2017-03-17 13:22] warpech opened #74 "Configure continous integration on TeamCity"
The project should have a similar job to KitchenSink in TeamCity.

Part of: https://github.com/Starcounter/AdminTrack/issues/261

[2017-03-20 13:13] un-tone commented on #73
Created PR https://github.com/StarcounterApps/SignIn/pull/75

[2017-03-21 11:18] KmaTTi89 commented on #74
Done

[2017-03-21 11:18] #74 closed

[2017-03-21 12:59] KmaTTi89 opened #76 "Master branch build error with Starcounter release 2.3 nightly"
`ViewModels\SignInPage.json.cs(25, 43): error CS0618: 'Somebody.ImageURL' is obsolete: 'ImageURL is obsolete in Somebody, use Illustration instead.'
ViewModels\SignInPage.json.cs(27, 37): error CS0618: 'Somebody.ImageURL' is obsolete: 'ImageURL is obsolete in Somebody, use Illustration instead.'`

Teamcity master branch failed with sc release 2.3 nightly

[2017-03-22 08:52] Mackiovello commented on #76
`develop` is now merged into `master`, so it should no longer be an issue. Closing.

[2017-03-22 08:52] #76 closed

[2017-03-22 11:53] warpech commented on #73
Thanks @un-tone, reassigning this to @KmaTTi89 for finishing.

[2017-03-22 13:38] KmaTTi89 commented on #73
Done in https://github.com/StarcounterApps/SignIn/pull/75

[2017-03-22 13:38] #73 closed

[2017-03-27 19:53] atifwaqar opened #78 "Question : What is `Mail server` in Starcounter?"
### Question
What is `Mail Server` in Starcounter? and how to configure it?
When I try to reset my password (Through Forget Password button, Handler: `/signin/signinuser`), I get the error `Mail server is currently unavailable.`

### Branch
Develop
##### Starcounter version
2.3.0.5916

##### Involved apps' version
Launcher
UserAdmin
SignIn

##### Browsers affected

- [X] Chrome

### Screenshot
![i

[2017-03-27 22:14] warpech commented on #78
There is no "mail server" in Starcounter. Mail server is the concept of the SignIn app, configured on the Settings page.

[2017-03-27 22:21] warpech commented on #78
I have tried to answer using https://github.com/StarcounterApps/SignIn/pull/79/files

Anything more I should add there, @atifwaqar?

[2017-03-31 16:26] warpech commented on #78
The question is now answered in https://github.com/StarcounterApps/SignIn/blob/develop/README.md.

Closing as done.

[2017-03-31 16:26] #78 closed

[2017-04-04 09:09] jwillmer opened #80 "Default user"
It might make sens to define the default credentials in the README

[2017-04-04 14:11] joozek78 commented on #80
New README contains lots of useful information now

[2017-04-04 14:11] #80 closed

[2017-04-04 14:35] joozek78 commented on #36
Fixed in PR #72

[2017-04-04 14:35] #36 closed

[2017-04-05 19:42] atifwaqar commented on #78
Nice detailed readme. Thanks :)

[2017-04-06 12:41] Tajree opened #83 "launcher-toolbar launcher-topbar is disappeared in home page"
### Steps to reproduce
- login with valid user id and password
- then home is visible after sucessfully logged in

### Expected result
- launcher-toolbar launcher-topbar should be statically visible in all pages

### Actual result
- launcher-toolbar launcher-topbar is disappeared in home page only: here is the link: http://224.adfenix.com/adfenix/signin. See the given screen shot:

### Technical i

[2017-04-06 13:22] atifwaqar commented on #83
Oops, This is as expected @Tajree . Do close this issue.

[2017-04-06 13:43] #83 closed

[2017-04-13 08:58] warpech opened #85 "Replace the usage of the Page class with middleware"
Please replace the usage of the Page class with middleware, since the Page class is obsolete (see Starcounter/Starcounter#3202). The instructions are in the blog post: http://starcounter.io/replace-page-partial-classes-middleware/

[2017-04-13 11:15] warpech commented on #85
Impl in #86

[2017-04-13 11:15] warpech commented on #69
Impl in #86

[2017-04-18 05:45] Mackiovello opened #87 "SignIn icon is misaligned"
### Steps to reproduce

1. Build and run SignIn and another app (Content app in my case).
2. Go to any page

### Expected result

The sign in icon is vertically aligned in its container

### Actual result

It's on the bottom of its container.

### Technical information

Starcounter 2.3.0.6278
SignIn 5.1.1
Content@861eb5043bf2c82ef706b8b77e3c1893c6aa49b3

### Screenshot

![signin](https://cloud.git

[2017-04-18 12:01] warpech commented on #85
Closing as fixed

[2017-04-18 12:01] #85 closed

[2017-04-18 12:01] warpech commented on #69
Closing as fixed

[2017-04-18 12:01] #69 closed

[2017-04-20 16:34] warpech commented on #33
The information is there now: https://github.com/StarcounterApps/SignIn#usage

[2017-04-20 16:34] #33 closed

[2017-04-21 10:04] warpech opened #89 "Create a full-page sign-in form"
Some (most) business systems, want to have a full page sign-in experience.

In case of @jwillmer the sign in form has not only to be full page, it even has to be wrapped in a different Website surface than other pages.

This is doable, if we add a "Display the sign-in form as a full page" (ON/OFF) that makes the `/signin/signinuser?{string OriginalUrl}` partial always redirect to its own URL.

Rig

[2017-04-21 10:32] joozek78 commented on #89
I think it's a very good idea. I would even turn this on by default

On Fri, 21 Apr 2017 at 12:05 Marcin Warpechowski <notifications@github.com>
wrote:

[2017-04-23 10:02] un-tone commented on #89
It's definitely a good idea. I agree with @joozek78 to turn this on by default.

[2017-04-24 13:11] warpech opened #91 "Mention of SignIn in apps that require a signed in user"
Some of our sample apps have a check for a signed in user. `README.md` files should have a consistent message that a signed in system user is needed for the app to work. Sign In app is the app that has the interface to sign in a user as well as the tool to create the default admin user.

In my opinion there should be not more than 2 sentences in `README.md` of each app that needs it, with a link t

[2017-04-25 15:05] un-tone commented on #89
There are 3 PRs above for this issue.
But it works correctly only when the SignIn app starts last after the UserAdmin. Overwise the Website app handles `/useradmin/partial/unauthenticated?return_uri={?}` URI, not the `/signin/signinuser?{?}` even if I open `http://localhost:8080/signin/signinuser?%2fuseradmin%2fadmin%2fusers` on a new page. I have not found a way to resolve it.

[2017-04-26 08:30] un-tone commented on #89
The issue from comment above is eliminated with 2.3.0.6347 (https://github.com/Starcounter/CompanyTrack/issues/292#issuecomment-296775379).
@warpech can I rely on changes from that Starcounter build and wait while it will be merged to 2.3, WDYT?

[2017-04-26 11:06] Mackiovello commented on #91
All the apps now have updated readme instructions. Closing

[2017-04-26 11:06] #91 closed

[2017-04-26 11:36] warpech commented on #89
Any idea how the above problem is related to 2.3.0.6347? I don't see a direct reason why that build would fix the problem.

But anyway, I think that it should not block us from merging https://github.com/StarcounterApps/SignIn/pull/93, because that is not a regression. Right?

[2017-04-26 18:12] un-tone commented on #89
It seems like the Request.Uri is beeing changed to the last called URI registered with UriMapping. I have an example.

 - Start SignIn, Website, WebsiteProvider, UserAdmin.
 - Go to the `http://localhost:8080/signin/signinuser?%2fuseradmin%2fadmin%2fusers` in the browser.
 - The request filter registered in the Website handles the request:
[code]
with request.Uri equals to `/signin/signinuser?%2fu

[2017-04-27 12:18] warpech commented on #89
I can confirm:

![2017-04-27 14_16_52-website debugging - microsoft visual studio](https://cloud.githubusercontent.com/assets/566463/25482964/34473dca-2b54-11e7-9116-b9c679a63d84.png)

Me and @un-tone both checked that in 2.3.0.6350. I assume that the same problem also exists in 2.3.0.6385.

It seems that handlers visited through `UriMapping` change the `request.Uri`.

I think that `request.Uri` s

[2017-04-27 22:46] alemoi commented on #89
Sorry, I didn't really get this one :)

So the problem exists in 6350 but not in 6347?

Regarding the `request.Uri` it can be changed between the calls. That's why there is a `Handle.IncomingRequest`, that I thought is documented, but does not seem to be the case. Does it fix the problem you experience?

[2017-05-02 16:48] un-tone commented on #89
The problem with `request.Uri` is gone with 2.3.1.6402.

[2017-05-02 17:52] un-tone commented on #63
Created PR https://github.com/StarcounterApps/SignIn/pull/94

[2017-05-04 16:10] warpech commented on #89
Status of the PRs:

- StarcounterApps/SignIn#93 - reviewed, mergable
- StarcounterApps/Simplified#51 - merged
- StarcounterApps/Website#92 - reviewed, minor comments. Follow up non-blocking issue: https://github.com/StarcounterApps/Website/issues/94

[2017-05-04 20:40] un-tone commented on #89
I reverted the PR https://github.com/StarcounterApps/SignIn/pull/93 (with https://github.com/StarcounterApps/SignIn/pull/95). Need to be reworked.

[2017-05-05 14:55] warpech opened #96 "Sign In generates redundant patches when morphing pages"
### Steps to reproduce

1. Start Website and WebsiteProvider (`develop` branch)
2. Start Sign In (`develop` branch)
3. Go to `http://localhost:8080/signin/generateadminuser` to generate the admin user
4. Go to `http://localhost:8080/website/cms`
5. Log in as admin/admin
6. Reload the page `http://localhost:8080/website/cms`
7. Click on "Pinning rules" to load a different page

### Expected result

[2017-05-05 15:01] warpech commented on #96
This is because [renewal of cookie]( https://github.com/StarcounterApps/SignIn/blob/9f5775d1972274c9ec634b9ffa663c3e23349c68/src/SignIn/Api/MainHandlers.cs#L39-L53) causes the SystemUserSession object [to be updated](https://github.com/StarcounterApps/Simplified/blob/master/Ring3/User/SystemUser.Static.cs#L594-L595), which in turn [triggers a commit hook](https://github.com/StarcounterApps/SignIn/

[2017-05-07 15:24] andwah commented on #51
*bump*
This starts to annoy me. and i think new users will also have a hard time to get started (they need to i guess check the source code on how to generate a default admin user).
Before when signin app was started it auto-created an admin user if it did not exist.

I think we should make the life as easy as possible for our users to use this app.

Please think this over :-)

[2017-05-09 14:22] PatrykSzwer opened #98 "Add new generic view for setting a password."
SignIn should have generic separate view only for setting a password (with password label+input and repeat password label+input) which could be used further e.g in SystemUserAuthenticationSettings and by other apps.

Improvement necessary for https://github.com/StarcounterApps/UserAdmin/issues/71.

CC: @warpech @un-tone

[2017-05-09 17:01] warpech commented on #96
Fixed using a different approach, implemented in #96.

[2017-05-09 17:01] #96 closed

[2017-05-10 09:53] mmnosek commented on #51
I agree! A new button should pop up when:
- There are no users in a DB ( I can imagine a situation when somebody doesn't want to have admin and there is some other "thing" that creates initial users for him)
- It's local machine

[2017-05-10 09:59] joozek78 commented on #51
@andwah I took the liberty of editing the description to make it more imperative. Your original request is at the bottom

[2017-05-10 14:43] andwah commented on #51
@joozek78 Thanks.

The button/link should do the same thing that `/signin/generateadminuser` does but with a "nice" user experience and it should only be visible when it's needed

[2017-05-11 15:25] warpech commented on #89
@un-tone, what's the status of changes in SignIn?

[2017-05-11 16:57] un-tone commented on #63
Closing as done.

[2017-05-11 16:57] #63 closed

[2017-05-15 13:38] PatrykSzwer commented on #98
Done, closing.

[2017-05-15 13:38] #98 closed

[2017-05-16 14:42] warpech opened #100 "SignIn no longer appears in Website"
### Steps to reproduce

0. Delete the existing database
1. Start Website and WebsiteProvider (`develop` branch)
2. Start Sign In (`develop` branch)
3. Go to `http://localhost:8080/website/cms`

### Expected result

You should see a sign in icon in the top right corner.

### Actual result

You don't see a sign in icon in the top right corner.

### Technical information

This seems **not** to be con

[2017-05-16 14:46] warpech commented on #100
@un-tone says this is fixed in https://github.com/StarcounterApps/Website/pull/70. Will review

[2017-05-16 15:56] warpech commented on #100
I confirm that the above PR fixes the problem.

[2017-05-18 12:05] un-tone commented on #100
Closing as done with PR https://github.com/StarcounterApps/Website/pull/70

[2017-05-18 12:05] #100 closed

[2017-05-21 19:08] atifwaqar opened #101 "Sign Up button is missing"
### Expected result
There should be an option for external users to sign up. And Registration App does that nicely, but there is no button to land on the Registration page.

##### Starcounter version 2.3.1.64.50

##### Involved apps' version

 - Launcher
 - SignIn
 - UserAdmin
 - Registration
 -->

### Screenshot
![image](https://cloud.githubusercontent.com/assets/4388707/26286554/e2467586-3e68-11

[2017-05-24 10:43] un-tone commented on #89
It seemed to be simple but I have different issues which I can't resolve without help. I have tried different approaches.

**Issue 1. `puppet-redirect` element on the MasterPage**
I use the following apps:
 * SignIn (`full-page-sign-in-form-2` branch)
 * UserAdmin (`develop` branch)
 * Website (`bugfix/unmaping` branch)

1. Run the apps
2. Go to `http://localhost:8080/useradmin`
3. Got the followi

[2017-05-24 11:07] un-tone commented on #89
**Issue 2. `/signin/partial/signinuser?{?}` handler is extracted**
I use the following apps:
 * SignIn (**`signin-form-partials`** branch, PR [SignIn#103](https://github.com/StarcounterApps/SignIn/pull/103/files?w=1))
 * UserAdmin (`develop` branch)

1. Run the apps
2. Go to `http://localhost:8080/useradmin`

Here I have similar issues with blending:
![image](https://cloud.githubusercontent.com/as

[2017-05-26 09:35] warpech opened #104 "Upgrade juicy-popover"
The copy of `juicy-popover` in this repo must be upgraded using Bower to the current version: https://github.com/Juicy/juicy-popover

Otherwise it will conflict with other apps that use the current version of `juicy-popover`.

[2017-06-01 08:20] warpech opened #105 "SignIn needs an icon that is displayed in Launchpad"
Unlike other apps (People, Images, Products), SignIn does not present at icon in the Launchpad.

The icon should point to `/signin`. That URL should be an alias of `/signin/signinuser`

Use the icon that already is in this repo: `src/SignIn/wwwroot/SignIn/css/empty_user.svg` (that is displayed in the top right corner of Launcher when SignIn is running)

[2017-06-06 20:55] warpech commented on #101
@atifwaqar can you explain your use case? We have added a new user registration view to the UserAdmin app.

It is possible to display the button from UserAdmin app next to the form from the Sign In app, but we need to consider the expected functionality.

Should the user get any priviledges after signing up? How can we implement that, maybe have a settings page where you can choose the default Sys

[2017-06-07 09:27] atifwaqar commented on #101
@warpech I want to give my users an option to signup.

One option I can think of is that when a user signs up, he gets the most basic privileges(like just signing in, and then if needed) Admin gets a notification(Via-email), to sets the privileges.

And one more thing, its would be good if the user also gets an Account Activation Email, and on clicking the activation link from that account activat

[2017-06-08 11:25] warpech opened #107 "Exception on i.s.c"
### Steps to reproduce

This happened in i.s.c

1. Create a user with People app
2. Add a user account for this person using UserAdmin
3. Try to see this user in UserAdmin

### Expected result

You shoud see the user admin page about the user

### Actual result

You get an exception from Sign In:

[code]

### Technical information

##### Starcounter version 2.3.1.6523

##### Involved apps' version

[2017-06-08 15:25] warpech commented on #107
@PatrykSzwer can you pls investigate? The bottom of the stack trace suggests that it is related with the recent changes regarding blending of Sign In with User Admin (#99).

[2017-06-09 07:58] PatrykSzwer commented on #107
@warpech I tried to reproduce this with newest builds from develop branches, without success. When I was trying to remake this bug in inside.starcounter.com I engaged with other issues that made this reproduction impossible (Authentication errors, probably my account doesn't have required permissions). Please confirm if You managed to reproduce this on newest builds.

[2017-06-15 09:12] philipborg opened #108 "/signin/user can only be to the right, menu pops up out of screen"
### Steps to reproduce
Blend the /signin/user to an application and place it to the left.
### Expected result
The menu pops up to the right instead of left.
### Actual result
The menu pops up out of screen to the left.
### Technical information

##### Starcounter version
2.3.1.6527
##### Involved apps' version

- SignIn as of [this](https://github.com/StarcounterApps/SignIn/commit/8c10b2f1c716bade

[2017-06-16 06:32] threezool commented on #105
Merged #106

[2017-06-19 12:37] PatrykSzwer commented on #107
Since is no longer occurring, I'm closing this issue.

[2017-06-19 12:37] #107 closed

[2017-06-20 20:58] warpech commented on #105
This part was not done:

Because of that, clicking on the Sign In icon gets you to a 404 page.

[2017-06-26 14:45] un-tone commented on #89
For some reason the described issue from https://github.com/StarcounterApps/SignIn/issues/89#issuecomment-303687808 was gone (and was appeared another one but I fixed it) and it all works well now.
I create PR https://github.com/StarcounterApps/SignIn/issues/89#issuecomment-303687808, please review.

[2017-06-28 13:09] warpech commented on #105
Since @threezool is on vacation, @bouguila can you maybe take this?

[2017-06-28 13:30] bouguila commented on #105
@warpech i'll take care of this 👍

[2017-07-03 21:07] Mihaiii opened #114 ""Forgot password" doesn't work with Website app"
### Steps to reproduce
Run:
1. SignIn - on `develop` branch
2. ~~Launchpad - on `develop` branch~~
3. Website - on `develop` branch
4. WebsiteProvider - on `develop` branch
5. ~~SampleWebsiteTheme - on `develop` branch~~

Go to `http://localhost:8080/website` .
Press on the SignIn icon, press "Forgot password?". Press "Forgot password?" on the page.
### Expected result
"Restore password" page shou

[2017-07-04 01:18] Mihaiii commented on #114
Closing as it's known and discussed here https://github.com/StarcounterApps/SignIn/issues/89 .

[2017-07-04 01:18] #114 closed

[2017-07-04 07:34] Mackiovello commented on #87
I'm not able to reproduce this anymore. Closing

[2017-07-04 07:34] #87 closed

[2017-07-06 13:03] warpech commented on #104
Closing.

@Mihaiii in future please also close the relevant issue when merging a PR, thanks!

[2017-07-06 13:03] #104 closed

[2017-07-06 16:37] bouguila commented on #105
closing as fixed.

[2017-07-06 16:37] #105 closed

[2017-07-10 11:51] un-tone opened #115 "Cannot sign-in on /signin/signinuser page"
### Steps to reproduce

1. Start WebsiteEditor, WebsiteProvider and SignIn apps from `develop` branches.
2. Generate default admin user by going to localhost:8080/signin/generateadminuser
3. Go to http://localhost:8080/signin/signinuser
4. Try login as `admin` user

### Expected result

The user should be authenticated and the app should show it in the way how it works without running WebsiteEdito

[2017-07-11 08:33] un-tone commented on #115
The issue was fixed with https://github.com/StarcounterApps/Website/issues/128.
Closing as done.

[2017-07-11 08:33] #115 closed

[2017-07-21 15:21] un-tone commented on #89
Closing as done

[2017-07-21 15:21] #89 closed

[2017-07-26 12:48] warpech opened #119 "Implement the mandatory app guidelines"
Implementing the guidelines:

- https://github.com/Starcounter/Guidelines/blob/mandatory-features/mandatory-features.md
- https://github.com/Starcounter/Guidelines/blob/mandatory-features/required-and-sample-data.md

should fix the problems reported by @rogeralsing in https://github.com/Starcounter/Home/issues/156

[2017-07-31 15:14] Mihaiii commented on #119
@warpech
It would be useful for me if I could start doing this after https://github.com/StarcounterApps/Images/pull/112 is merged.
Would that be ok?

[2017-07-31 15:48] warpech commented on #119
Let's see what's the @tomalec's answer there.

[2017-08-02 13:06] warpech commented on #119
https://github.com/StarcounterApps/Images/pull/112 is merged now.

[2017-08-05 09:35] warpech opened #121 "Improvement ideas"
I like the this wrap up a lot: https://blog.plan99.net/building-account-systems-f790bf5fdbe0

Any ideas what we should implement in some particular order? Our SignIn prefab app should be top-notch, now it is far from that.

[2017-08-05 19:01] Mihaiii commented on #119
The links in the first comment don't work after this commit: https://github.com/Starcounter/Guidelines/pull/40/commits/ce4d437c4a9514988bec6e5f1e95482cb108e242

Also related to https://github.com/Starcounter/Guidelines/pull/40

New link: https://github.com/Starcounter/Docs/pull/121

[2017-08-10 08:12] warpech commented on #48
Closing as not reproducible anymore

[2017-08-10 08:12] #48 closed

[2017-08-10 08:39] warpech commented on #71
Since March, the apps have changed a bit.

1. Run SignIn (`develop` branch)
1. Run Website (`develop` branch)
1. Run UserAdmin (`develop` branch)
1. Go to `http://localhost:8080/signin/generateadminuser`
1. Go to `http://localhost:8080/UserAdmin/admin/users`
1. On the log in prompt, log in as admin/admin
1. In the top right corner, press "Sign out"

Repeat steps 6-7.

Because of https://github.com

[2017-08-10 08:40] warpech commented on #108
This requires some special CSS (or custom element) that will position `juicy-popover` according to the side of the screen.

[2017-08-10 10:00] warpech commented on #101
Sign Up button should come from the UserAdmin app and appear there through blending.

[2017-08-10 10:08] warpech commented on #51
This PR presents a convention how to create sample data in the apps: https://github.com/Starcounter/Docs/pull/121

I think that this issue is good to implement.

[2017-08-15 08:32] LarsTjernstrom commented on #51
My input is that we should let the user specify a password for the admin account, since it's a security issue creating default passwords for such account.

[2017-09-04 07:25] LarsTjernstrom commented on #51
Implemented in #127
Note. The  "Create Admin account" button is only implemented in the SignInFormPage

[2017-09-04 07:25] #51 closed

[2017-09-08 11:40] Mihaiii commented on #119
Closing as done.

[2017-09-08 11:40] #119 closed

[2017-09-21 10:55] tomalec opened #130 "Use declarative-shadow-dom to separate content from layout"
### Steps to reproduce
1. Check the code of
    - https://github.com/StarcounterApps/SignIn/blob/develop/src/SignIn/wwwroot/SignIn/viewmodels/SignInPage.html
    - https://github.com/StarcounterApps/SignIn/blob/develop/src/SignIn/wwwroot/SignIn/viewmodels/SystemUserAuthenticationSettings.html
   - https://github.com/StarcounterApps/SignIn/blob/develop/src/SignIn/wwwroot/SignIn/viewmodels/SettingsP

[2017-09-22 16:02] warpech opened #131 "The icon no longer presents person's illustration for a known person"
### Steps to reproduce

1. Go to ISC
2. Sign in with a SystemUser that is assigned to a Person who has an Illustration

### Expected result

The icon in the top right corner should present the small illustration. This is how it worked few weeks ago.

### Actual result

The default icon is presented.

### Screenshot

![screen shot 2017-09-22 at 16 40 36](https://user-images.githubusercontent.com/56

[2017-09-23 14:41] rogeralsing opened #132 "Creating the initial auto generated admin user results in two users"
### Steps to reproduce
Create the auto admin admin user

### Expected result
There is a single admin user

### Actual result
There is one user w/o username, but with admin@starcounter.com email
And another user with username admin, but with no email

Not sure if this is by design but I would guess it's a bug?

![image](https://user-images.githubusercontent.com/647031/30774139-0bb9ccf2-a07e-11e7-83

[2017-09-28 23:24] warpech opened #134 "Please release a new version"
Please release a new version of this app that includes #127, #129.

I am setting up a demo of the Website app and I can't make it with the version 6.0.0 which is currently in the app store.

[2017-09-29 08:46] habib535 commented on #134
I would suggest not to include #129 yet because all the apps will require a new release for this change and @bouguila was going to do that a couple of days back but I stopped him because of https://github.com/Starcounter/RebelsLounge/issues/126

[2017-09-29 08:59] habib535 commented on #134
I will take this and release a new version for all the apps on inside.starcounter.com but will have to wait for the nightly build. @alemoi will trigger once he reaches office.

[2017-10-10 09:43] warpech commented on #134
@habib535 reports this is still blocked by https://github.com/Starcounter/RebelsLounge/issues/126#issuecomment-332480804.

[2017-10-16 17:08] habib535 commented on #134
http://inside.starcounter.com/ now has the latest version of Starcounter
All the apps are now using the updated Blending API. The only app I didn't release a new version for is `AutoAuditSuite` because it doesn't have `package.bat` file.

[2017-10-17 09:33] warpech commented on #134
Great, thanks!

[2017-10-17 09:33] #134 closed

[2017-11-18 10:21] Mackiovello opened #140 "Replace TODO in code with issues"
There are bunch of TODO comments in this project: https://github.com/StarcounterApps/SignIn/search?utf8=%E2%9C%93&q=TODO&type=

These are hard to track and clutter the code. They should be made into issues instead.

[2017-11-21 22:12] mmnosek opened #143 "CreateAdminUser page displays created user name"
After the first user is created by calling `/createadminuser` page, the endpoint shows a page with his login. From a security point of view, it is not good practice. The fact, that user with given login exists should be hidden.

Maybe limiting this page to localhost is the way to go?

[2017-12-11 15:05] mmnosek opened #144 "Remove RunWithinApplication from readme"
`RunWithinApplication` is deprecated and shouldn't be promoted in our readme. This example needs to be replaced by current solution.

[2017-12-27 11:36] mmnosek commented on #49
@tomalec do you, by any chance have any progress/update for this? 😄

[2017-12-29 15:32] warpech commented on #49
I explained a potential technical solution here: https://github.com/Starcounter/Website/issues/303. @tomalec please take a look.

[2018-02-12 14:48] andwah opened #155 "When a user signin it will create over 50 SystemUserSession records in the database."
### Steps to reproduce
Start with an empty database.
1. Start: UserAdmin
2. Start: SignIn
3. Navigate to http://localhost:8080/useradmin
4. Add a password to the admin user
5. Navigate to http://localhost:8080/SignIn
6. Signin with admin + password
7. do the following query in Starcounter Admin
     `select  * from signin.systemusersession`
### Expected result
   I expected only one systemUserSess

[2018-04-05 19:48] kegor opened #159 "Use 'Enter' key and clickable label of the check-box."
### Steps to reproduce
When I try to create a new user with administrator rights and then log in, I want to click on the `Enter` key (since my hands are already on the keyboard) instead of clicking on `Ok` and `Sing in` buttons by the mouse/touch-pad, I also would like to clicking on the label of the `Remember me` check-box (which are much easier to get into), ie. I think these changes seem more u

[2018-05-22 10:21] Mackiovello commented on #140
Archiving

[2018-05-22 10:21] #140 closed

[2018-05-28 11:06] tomalec opened #161 "Singin popup pops out of the screen in Firefox"
### Steps to reproduce
1. Run Blending, and SiginApp (use default topbar layout),
2. Open http://127.0.0.1:8080/BlendingEditor in Firefox,
3. Click on sign square.

### Expected result
1. Square should present something that indicates login capabilities,
2. Popup should be visibale and usable

### Actual result
1. There is just a white square,
2. popup is rendered above the visible part of the scr

[2018-06-01 14:16] Joltrix opened #162 "Singin popup pops out of the screen in Firefox"
### Steps to reproduce
1. Run Blending, and SiginApp (use default topbar layout),
2. Open http://127.0.0.1:8080/BlendingEditor in Firefox,
3. Click on sign square.

### Expected result
1. Square should present something that indicates login capabilities,
2. Popup should be visibale and usable

### Actual result
1. There is just a white square,
2. popup is rendered above the visible part of the scr

[2018-06-01 14:18] Joltrix opened #163 "Singin popup pops out of the screen in Firefox"
### Steps to reproduce
1. Run Blending, and SiginApp (use default topbar layout),
2. Open http://127.0.0.1:8080/BlendingEditor in Firefox,
3. Click on sign square.

### Expected result
1. Square should present something that indicates login capabilities,
2. Popup should be visibale and usable

### Actual result
1. There is just a white square,
2. popup is rendered above the visible part of the scr

[2018-06-01 14:59] #162 closed

[2018-06-01 14:59] #163 closed

[2018-07-04 13:56] wanderlust-ginge opened #164 "Refresh during a UserSession will create a new UserSession, over and over and over"
### Steps to reproduce
Start with a clean database
Run Signin and UserAdmin together
Create a User in UserAdmin
Sign in with that User using SignIn
Check SignIn.SystemUserSession entries in Database
Refresh SignIn Page (or another open page associated with User)
Check Database again and see a new session as well as the old session
Repeat

### Expected result
There should only be one UserSession pe

[2018-07-04 17:02] Mihaiii commented on #164
This was discussed before on github.
@habib535 can provide more details.

[2018-07-05 07:54] habib535 commented on #164
There was a similar bug logged https://github.com/Starcounter/AppsTeam/issues/264. This is how Starcounter sessions are designed, Sessions are separate for each tab of the browser and once you refresh the page you get new. In the Flexovital project, we have a scheduler that removes all expired sessions from database overnight, I'll merge those changes in your branch.

[2018-07-05 08:09] wanderlust-ginge commented on #164
Cool.  Thanks for the clarification!

On 5 July 2018 at 09:54, Habib Ullah <notifications@github.com> wrote:

[2018-07-30 08:03] #164 closed

[2018-07-30 08:03] Mihaiii commented on #164
Closing as answered.

[2018-07-31 11:53] warpech commented on #155
Isn't this fixed in https://github.com/Starcounter/SignIn/commit/76cc0d6f074592122dad18299b9488942737fc69?

Same problem was tracked in https://github.com/Starcounter/AppsTeam/issues/264

Can this be closed @habib535 ?

[2018-07-31 19:37] habib535 commented on #155
Closing as fixed.

[2018-07-31 19:37] #155 closed

[2018-08-13 09:35] alshakero opened #165 "It is using old juicy-popover v1.2.0, the newest is 2.1.0"
It is the reason behind the security warnings.

[2018-08-13 09:55] Mihaiii commented on #165
@alshakero I think this was a misunderstanding somewhere.
I wanted to update it, but it was already updated to 2.1.0 in this commit : https://github.com/Starcounter/SignIn/commit/5fb38f9ce729497a5df89bc2bedc6312ef8ea47c .

Could you please confirm?
Do you remember what other apps were you running at that moment? Most probably one of those had 1.2.0 instead of 2.1.0 on the same `sys` path.

[2018-08-13 10:43] alshakero commented on #165
Right. But [juicy-popover has it1.2.0 ](https://github.com/Starcounter/SignIn/blob/master/src/SignIn/wwwroot/sys/juicy-popover/package-lock.json). Which threw me off.  Merging https://github.com/Starcounter/SignIn/pull/166 should fix the issue.

[2018-08-13 10:45] alshakero commented on #165
Awesome. Merging #166 fixed it.

[2018-08-13 10:45] Mihaiii commented on #165
:)

Closing.

[2018-08-13 10:45] #165 closed

[2018-08-22 15:05] mmnosek opened #167 "Update readme"
Readme says that it's possible to create admin user by calling `/signin/createadminuse` which is not true. Update readme (in both SignIn and UserAdmin that is now responsible for this).

[2018-08-27 13:58] tomalec commented on #167
For people, like me, wondering how to create an admin user: http://localhost:8080/useradmin/createadmin

[2018-09-12 09:13] Mihaiii commented on #167
Closing as done.

[2018-09-12 09:13] #167 closed

[2018-09-17 07:50] andwah opened #171 "Signin look'n'feel"
#### Not signed in
![image](https://user-images.githubusercontent.com/2656996/45610904-e31f3c00-ba5d-11e8-8318-d4e12cf23ddc.png)

#### Sign in popup
![image](https://user-images.githubusercontent.com/2656996/45610924-f205ee80-ba5d-11e8-9927-67487b678030.png)

#### Signed in
![image](https://user-images.githubusercontent.com/2656996/45610940-00eca100-ba5e-11e8-8270-f3bab28db517.png)

#### Sign out

[2018-09-17 07:50] andwah opened #172 "New Design"
#### Not signed in
![image](https://user-images.githubusercontent.com/2656996/45610904-e31f3c00-ba5d-11e8-8318-d4e12cf23ddc.png)

#### Sign in popup
![image](https://user-images.githubusercontent.com/2656996/45610924-f205ee80-ba5d-11e8-9927-67487b678030.png)

#### Signed in
![image](https://user-images.githubusercontent.com/2656996/45610940-00eca100-ba5e-11e8-8270-f3bab28db517.png)

#### Sign out

[2018-09-17 07:51] andwah commented on #171
Replaced with #172

[2018-09-17 07:51] #171 closed

[2018-10-09 14:41] ubbeK opened #173 "Test in CI missing"
Missing
* test/SignIn.UnitTests
* test/SignIn.IntegrationTests

cc @LarsTjernstrom

[2018-11-27 10:07] andwah opened #178 "Navigating to http://localhost:8080/signin generates Error 404."
### Steps to reproduce
Navigate to http://localhost:8080/signin in your browser after the app is started
### Expected result
A page where there is a link/button called "Create admin account" if no admin exist or the signin/out form
### Actual result
Text in browser window:
"Error 404: Resource "/signin" not found."
### Technical information
Github source from 2018-11-27, branch "Master"
##### Star

[2018-11-27 10:09] andwah opened #179 "Navigating to http://localhost:8080/signin/signinuser generates Error 404"
### Steps to reproduce
Navigate to http://localhost:8080/signin/signinuser  in your browser after the app is started
### Expected result
A page where a user can be signed in/out
### Actual result
Text in browser window:
"Error 404: Resource "/signin/signinuser" not found."
### Technical information
Github source from 2018-11-27, branch "Master"
##### Starcounter version
Starcounter-Custom-2.4.990.